<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="iisnode" />
            <add name="iisnode" path="src/app.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="NodeApp">
                    <match url=".*" />
                    <action type="Rewrite" url="src/app.js" />
                </rule>
            </rules>
        </rewrite>

        <iisnode loggingEnabled="true" devErrorsEnabled="true" logDirectory="iisnode" />
        
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>